[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "==4.8.0"
bs4 = "*"
requests = "*"
mechanicalsoup = "*"
scikit-learn = "==1.0.2"
scikit-image = "==0.19.1"
matplotlib = "==3.5.1"
pandas = "==1.4.0"
opencv-python = "==4.5.5.62"
numpy = "*"
django = "==3.2"
pillow = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
drf-yasg = {extras = ["validation"], version = "*"}
lxml = "*"
django-mail-templated = "*"
django-jalali = "*"
watchdog = "*"
psycopg2 = "*"
rest-framework-simplejwt = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-crontab = "*"
importlib-metadata = "*"
python-decouple = "*"
drf-nested-routers = "*"
django-debug-toolbar = "==3.4.0"
persiantools = "*"
channels = "*"
kavenegar = "*"
python-telegram-bot = "*"
cffi = "*"
webdriver-manager = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
